In [15]:
import pandas as pd

In [21]:
df = pd.read_excel('static/data/Vehicle_Population_Last_updated_04-29-2022.xlsx', sheet_name=2, index_col=None, header=2)

In [22]:
df

        Data Year Fuel Type    ZIP  Number of Vehicles
0            2010    Diesel  90001                  76
1            2010    Diesel  90002                  52
2            2010    Diesel  90003                  80
3            2010    Diesel  90004                 100
4            2010    Diesel  90005                  52
...           ...       ...    ...                 ...
172574       2021   Propane  95648                   2
172575       2021   Propane  95652                   1
172576       2021   Propane  95814                   1
172577       2021   Propane  95822                   3
172578       2021   Propane  99999                   1

[172579 rows x 4 columns]